@media only screen and (min-width: 150px) and (max-width: 560px) {
  #encabezado {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f6f6f6;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  #encabezado .sub-encabezado {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    padding: unset;
  }
  #encabezado .sub-encabezado2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #encabezado .sub-encabezado2 .listas li a {
    font-size: 0.9rem;
  }
  #gridActivos {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #gridActivos #activos .buttonDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #activo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #activo .imageDiv2 {
    text-align: center;
  }
  #activo .imageDiv2 .image2 {
    width: 15rem;
    height: 18rem;
  }
  #activo #descriptionDiv {
    margin-left: unset;
    width: unset;
    text-align: center;
  }
  #activo #descriptionDiv .description-cost2 #counter .botonRestar {
    padding: 0rem 0.4rem;
  }
  #activo #descriptionDiv .description-cost2 #counter .botonSumar {
    padding: 0rem 0.4rem;
  }
  #activo3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #activo3 .imageDiv3 .image3 {
    width: 12rem;
    height: 14rem;
  }
  #footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  #footer #footerExtras {
    text-align: center;
    padding-left: unset;
  }
  .scrollTop {
    left: 85%;
  }
}

@media only screen and (min-width: 561px) and (max-width: 940px) {
  #gridActivos {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #gridActivos #activos #description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: unset;
  }
  #activo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #activo .imageDiv2 {
    text-align: center;
  }
  #activo .imageDiv2 .image2 {
    width: 33rem;
    height: 34rem;
  }
  #activo #descriptionDiv {
    margin-left: unset;
    width: unset;
    text-align: center;
  }
}
/*# sourceMappingURL=responsive.css.map */