@media only screen and (min-width: 150px) and (max-width: 560px) {
    #encabezado {
        display: flex;
        flex-direction: column;
        background-color: #f6f6f6;
        align-items: unset;

        .sub-encabezado {
            flex-direction: column;
            align-items: center;
            justify-content: unset;
            padding: unset;
        }
        .sub-encabezado2 {
            flex-direction: column;
            align-items: center;

            .listas {
                li {
                    a {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }

    #gridActivos {
        grid-template-columns: repeat(1, 1fr);

        #activos {
            .buttonDiv {
                flex-direction: column;
            }
        }
    }

    #activo {
        flex-direction: column;

        .imageDiv2 {
            text-align: center;

            .image2 {
                width: 15rem;
                height: 18rem;
            }
        }
        
        #descriptionDiv {
            margin-left: unset;
            width: unset;
            text-align: center;

            .description-cost2 {
                #counter {
                    .botonRestar {
                        padding: 0rem 0.4rem;
                    }
                    .botonSumar {
                        padding: 0rem 0.4rem;
                    }
                }
            }
        }
    }

    #activo3 {
        flex-direction: column;
        
        .imageDiv3 {
            .image3 {
                width: 12rem;
                height: 14rem;
            }
        }
    }

    #footer {
        flex-direction: column;
        align-items: center;
        text-align: center;

        #footerExtras {
            text-align: center;
            padding-left: unset;
        }
    }

    .scrollTop {
        left: 85%;
    }
}

@media only screen and (min-width: 561px) and (max-width: 940px) {
    #gridActivos {
        grid-template-columns: repeat(2, 1fr);

        #activos {
            #description {
                flex-direction: column;
                padding: unset;
            }
        }
    }

    #activo {
        flex-direction: column;

        .imageDiv2 {
            text-align: center;

            .image2 {
                width: 33rem;
                height: 34rem;
            }
        }
        
        #descriptionDiv {
            margin-left: unset;
            width: unset;
            text-align: center;
        }
    }
}