* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(32, 34, 37, 0.856);
}

.cart {
  width: 2rem;
}

p {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loading {
  font-size: 2rem;
  margin-top: 2rem;
  margin-left: 5rem;
  margin-bottom: 95%;
}

#encabezado {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#encabezado .sub-encabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  background-color: #f6f6f6;
  padding: 0rem 1rem;
}

#encabezado .sub-encabezado #carrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#encabezado .sub-encabezado2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: lightgrey;
}

.listas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listas li {
  list-style: none;
  margin: 0.5rem 2rem;
}

.listas li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
}

.listas li a:hover {
  color: black;
}

#gridActivos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: 1rem 0rem;
}

#gridActivos #activos {
  margin: 2rem;
  border: 0.1px gray solid;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  text-decoration: none;
}

#gridActivos #activos .imageDiv {
  text-align: center;
}

#gridActivos #activos .imageDiv .image {
  width: 100%;
  height: 22rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom: 1px gray dotted;
  background-color: white;
}

#gridActivos #activos #description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px gray dotted;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 1rem;
  background-color: #0c0f14;
}

#gridActivos #activos #description .description-title {
  font-family: ui-monospace;
  color: ghostwhite;
  font-size: 1.2rem;
}

#gridActivos #activos #description .description-cost {
  font-family: monospace;
  color: ghostwhite;
}

#gridActivos #activos .buttonDiv {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #0c0f14;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#gridActivos #activos .buttonDiv .buttonComprar {
  padding: 0.2rem;
  border: 1px gray solid;
  border-radius: 1rem;
  background-color: lightgrey;
  font-family: monospace;
  text-decoration: none;
  color: black;
}

#gridActivos #activos .buttonDiv .buttonComprar:hover {
  background-color: black;
  color: white;
}

#gridActivos #activos:hover {
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
}

#activo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1rem;
}

#activo .imageDiv2 .image2 {
  width: 35rem;
  height: 35rem;
  border-radius: 1rem;
  background-color: white;
}

#activo #descriptionDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1rem;
  width: 40rem;
}

#activo #descriptionDiv .description-title2 {
  color: white;
  margin: 1.87rem 0rem;
  font-size: 2rem;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#activo #descriptionDiv .description-cost2 {
  color: white;
  border: 1px black solid;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #303339;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#activo #descriptionDiv .description-cost2 p {
  margin-bottom: 1.87rem;
  color: lightgrey;
}

#activo #descriptionDiv .description-cost2 #counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #2081e2;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#activo #descriptionDiv .description-cost2 #counter .botonSumar, #activo #descriptionDiv .description-cost2 #counter .cantidadSeleccionada, #activo #descriptionDiv .description-cost2 #counter .botonRestar {
  margin: 0rem 0.5rem;
}

#activo #descriptionDiv .description-cost2 #counter .botonSumar, #activo #descriptionDiv .description-cost2 #counter .botonRestar {
  padding: 0rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}

#activo #descriptionDiv .description-cost2 #counter .botonSumar:hover, #activo #descriptionDiv .description-cost2 #counter .botonRestar:hover {
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
  background-color: lightgrey;
}

#activo #descriptionDiv .description-cost2 #counter .botonAgregar {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: monospace;
  padding: 0.2rem 1rem;
}

#activo #descriptionDiv .description-cost2 #counter .botonAgregar:hover {
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
  background-color: lightgrey;
}

#cartStatus {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 11rem;
}

#cartStatus h1, #cartStatus h2 {
  color: white;
}

#cartStatus .button5 {
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: monospace;
  color: black;
  background-color: #f6f6f6;
}

#carritoEncabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#carritoEncabezado .button3 {
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: monospace;
  color: black;
  background-color: #f6f6f6;
}

#activo3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 3rem 1.5rem;
  padding: 0.5rem;
  border: 1px solid white;
}

#activo3 .imageDiv3 .image3 {
  width: 15rem;
  height: 15rem;
  border-radius: 1rem;
  background-color: white;
}

#activo3 #descriptionDiv2 .description-title3 {
  margin: 0.5rem;
}

#activo3 #descriptionDiv2 .button4 {
  margin: 0.5rem;
  padding: 0.2rem 1.5rem;
  font-weight: 600;
  font-family: monospace;
  color: black;
  background-color: #f6f6f6;
}

#activo3 #descriptionDiv2 .button4:hover {
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f6f6f6;
  padding: 1.5rem 0rem;
}

#footer .copyright {
  color: rgba(0, 0, 0, 0.5);
}

#footer #footerExtras li {
  list-style: none;
}

#footer #footerExtras li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

#footer #footerExtras li a:hover {
  color: black;
}

@media only screen and (min-width: 150px) and (max-width: 560px) {
  #encabezado {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f6f6f6;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  #encabezado .sub-encabezado {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    padding: unset;
  }
  #encabezado .sub-encabezado2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #encabezado .sub-encabezado2 .listas li a {
    font-size: 0.9rem;
  }
  #gridActivos {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #gridActivos #activos .buttonDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #activo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #activo .imageDiv2 {
    text-align: center;
  }
  #activo .imageDiv2 .image2 {
    width: 23rem;
    height: 24rem;
  }
  #activo #descriptionDiv {
    margin-left: unset;
    width: unset;
    text-align: center;
  }
  #footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  #footer #footerExtras {
    text-align: center;
  }
}

@media only screen and (min-width: 561px) and (max-width: 940px) {
  #gridActivos {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #gridActivos #activos #description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: unset;
  }
  #activo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #activo .imageDiv2 {
    text-align: center;
  }
  #activo .imageDiv2 .image2 {
    width: 33rem;
    height: 34rem;
  }
  #activo #descriptionDiv {
    margin-left: unset;
    width: unset;
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */