* {
  margin: 0;
  padding: 0;
}

#encabezado {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

#encabezado .sub-encabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  background-color: #f6f6f6;
  padding: 0rem 1rem;
}

#encabezado .sub-encabezado2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: lightgrey;
}

.listas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listas li {
  list-style: none;
  margin: 0.5rem 2rem;
}

.listas li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
}

.listas li a:hover {
  color: black;
}

.cart {
  width: 2rem;
}

#gridActivos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: 1rem 0rem;
}

#gridActivos #activos {
  margin: 2rem;
  border: 0.1px gray solid;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

#gridActivos #activos .imageDiv {
  text-align: center;
}

#gridActivos #activos .imageDiv .image {
  width: 100%;
  height: 22rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom: 1px gray dotted;
}

#gridActivos #activos #description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px gray dotted;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 1rem;
}

#gridActivos #activos #description .description-title {
  font-family: ui-monospace;
}

#gridActivos #activos #description .description-cost {
  font-family: monospace;
}

#gridActivos #activos .buttonDiv {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: rgba(211, 211, 211, 0.397);
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#gridActivos #activos .buttonDiv .buttonComprar {
  padding: 0.2rem;
  border: 1px gray solid;
  border-radius: 1rem;
  background-color: lightgrey;
  font-family: monospace;
}
/*# sourceMappingURL=styles.css.map */